/*@charset "utf-8";*/
/* CSS Document */

*{
  margin: 0px;
  padding: 0px;
}

/* FONTS */

h1 {
  color: #D05F15;
  font-family: 'Alexandria';
  font-size: 315px;
  font-weight: 700;
  line-height: normal;
}

h2 {
  display: inline-block; 
  color: #FCD1CD;
  font-family: 'Alexandria';
  font-size: 100px;
  font-weight: 600;
}

h3 {
  display: inline-block; 
  font-family: 'Alexandria';
  font-weight: bold;
  color: #1F4AC9;
  font-size: 30pt;
  border-bottom: 4px solid #1F4AC9;
}

p{
  font-family: 'Poppins';
  color: black;
  font-style: normal;
  font-size: 1.1em;
}

span{
  font-family: 'Poppins';
  color: #FCD1CD;
  font-size: 34px;
  font-weight: 500;
}

footer p{
  color: #FCD1CD;
  font-size: 0.8em;
  font-style: italic;
}

/* BODY */

body{
  background: #FCD1CD;
}

.body-contacto{
  background: #1F4AC9;
}

/* HEADER */

header{
  max-width: auto;
  height: 50px;
  background-color: #1F4AC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.logo {
width: 50px;
}

/* NAV */

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 56px;
  padding-left: 100px; 
  padding-right: 100px;

}

nav .botonera {
  max-width: 1250px;
  height: 30px;
  display: inline-flex; 
  justify-content: center; 
  align-items:flex-start;
  text-align: center;
  transition: transform 0,5s;
}

nav a{
  font-size: 20px;
  padding: 10px;
  color: #FCD1CD; 
  font-family:'Alexandria';
  display:inline-flex;
  justify-content: center; 
  text-align: center;
  border-radius: 100px;
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: none;
}

nav a:hover {
  background-color: #D05F15;
  background-color: #D05F15;
  color: #FCD1CD;
  transform: scale(1.1);
}

/* MAIN */

.introduccion {
  display: flex; 
  align-items: flex-start;
  height: 976px;
  background-color: #1F4AC9;
}

@keyframes slide-right{
  0%{transform:translateX(-100px)}
  100%{transform:translateX(15px)}
}

.intro-izq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 700px;
  padding-left: 40px;
  padding-right: 40px;
}

/* ANIMACION PROYECTOS */

.ticker-section {
  width: 100vw; 
  height: 60px; 
  overflow: hidden
}

.ticker-content-wrapper {
  display: flex;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
  line-height: 90px; 
  letter-spacing: 1.28px; 
}

.ticker-text-group {
  display: flex;
  align-items: center;
}

.ticker-text-group span {
  padding: 0 41px; 
}

.ticker-text-group .dot {
  padding: 0 41px; 
}

.proyectos-ticker .ticker-proyectos-background {
  background-color: #D05F15;
  height: 100%;
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); 
  }
}

/* CARRUSEL */

.seccion-carrusel {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

.carrusel {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carrusel-container {
  overflow: hidden;
  width: 100%;
}

#track {
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.slide {
  flex: 0 0 250px;
  margin: 10px;
  color: white;
  transition: 0.5s;
}

.slide:hover {
  transform: scale(1.2);
}

.carilla-carrusel {
  width: auto;
  height: auto;
  object-fit: cover;
}
.carrusel-arrow {
  background-color: #ede4d1;
  color: #4b6bff;
  border: 2px solid #4b6bff;
  border-radius: 40px;
  width: 48px;
  height: 48px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
}

.carrusel-prev {
  margin-right: 10px;
}

.carrusel-next {
  margin-left: 10px;
}

.carrusel-arrow:hover{
  background: #4b6bff;
}



/* FOOTER */

footer {
  background-color: #1F4AC9;
  height: 60px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  gap: 450px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
}

.derechos-footer{
  display: flex;
  align-items: center;
}

.icons-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.icons-footer img{
  height: 46px;
  width: 46px;
  transition: 0.5s;
}

.icons-footer img:hover {
  transform: scale(1.1);
}

/* CONTACTO - HTML */

.formulario {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  justify-content: center;
  gap: 50px;
}

.formulario-container {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #D05F15;
  border-radius: 65px;
}

.contact-img {
  display: flex;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 40px;
  max-width: 450px;
  width: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  gap: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #84A59D;
  border-radius: 40px;
  font-size: 16px;
  background-color: white;
  color: #000000;
}

textarea {
  resize: both;
}

.fin-formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button {
  font-size: 20px;
  font-weight: 600;
  color: #84A59D;
  text-align: center;
  height: 50px;
  width: 70px;
  border: 1px solid #84A59D;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  transition: 0,5s;
}

button:hover {
  background: #84A59D;
  color: white;
}