/*@charset "utf-8";*/
/* CSS Document */

*{
  margin: 0px;
  padding: 0px;
}

/* FONTS */

h1 {
  color: #D05F15;
  font-family: 'Alexandria'; /* estás aplicando a todo la misma font, hay una forma de aplicarlo a todo de una sola vez y ahorrar líneas de código */
  font-size: 315px;
  font-weight: 700;
  line-height: normal;
}

h2{
  display: inline-block; /* no usamos inline! */
  color: #1F4AC9;
  font-family: 'Alexandria';
  font-size: 100px;
  font-weight: 600;
  margin: 50px;
}

.h2-contacto{
  display: inline-block;  /* no usamos inline! */
  color: #FCD1CD;
  font-family: 'Alexandria';
  font-size: 100px;
  font-weight: 600;
  margin: 50px;
}

.intro-izq h2 { 
  color: #FCD1CD;
}

h3 {
  display: inline-block;  /* no usamos inline! */
  font-family: 'Alexandria';
  font-weight: bold;
  color: #1F4AC9;
  font-size: 30pt;
}

h4 {
  display: inline-block;  /* no usamos inline! */
  font-family: 'Alexandria';
  font-weight: bold;
  color: #1F4AC9;
  font-size: 16pt;
}

h5 {
  display: inline-block;  /* no usamos inline! */
  color: #1F4AC9;
  font-family: 'Alexandria';
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

p{
  font-family: 'Poppins';
  color: black;
  font-style: normal;
  font-size: 1.1em;
}

p{} /* guardaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

span{
  font-family: 'Alexandria';
  color: #1F4AC9;
  font-size: 16pt;
  font-weight: 500;
}

.ticker-text-group span{
  font-family: 'Poppins';
  color: #FCD1CD;
  font-size: 34pt;
  font-weight: 500;
}

label {
  font-family: 'Poppins';
  color: black;
  font-size: 16pt;
  font-weight: 500;
}

footer p{
  color: #FCD1CD;
  font-size: 0.8em;
  font-style: italic;
}

/* BODY */

body{
  background: #FCD1CD;
}

.body-contacto{
  background: #1F4AC9;
}

/* HEADER */

header{
  height: 50px; /* podríamos hacer que la altura en lugar de que sea fija la den los paddings? */
  background-color: #1F4AC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.logo {
width: 50px;
}

/* NAV */

nav {
  list-style: none;
  display: flex;
  gap: 56px;
  padding-left: 100px; /* este tamaño de paddings es peligroso, fijate de manejarlo compensando los paddings del elemento padre para que no te quede enorme a la hora de pasar a mobile */
  padding-right: 100px;
}

nav .botonera {
  height: 30px;
  display: inline-flex; 
  justify-content: center; 
  align-items:flex-start;
  text-align: center;
  transition: transform 0,5s;
}

nav a{
  font-size: 20px;
  padding: 10px; /*es necesario el padding si los elementos padres ya establecen espacios? */
  color: #FCD1CD; 
  font-family:'Alexandria';
  display: inline-flex; /* nosotros no usamos inline */
  justify-content: center; 
  text-align: center;
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: none;
}

nav a:hover {
  color: #D05F15;
  transform: scale(1.1);
}

/* MAIN - INDEX */

.introduccion {
  display: flex; 
  align-items: flex-start; /* este es el estado por default de flex, por qué lo estás sumando? Cambia si no estuviera? */
  height: 976px; /* qué dijimos mil veces sobre las medidas fijas? */
  background-color: #1F4AC9;
}

@keyframes slide-right{
  0%{transform:translateX(-100px)}
  100%{transform:translateX(15px)}
}

.intro-izq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 700px; /* OJO con este max-width porque los elementos son muy grandes, si lo que estás pensando hacer es poner una foto a la derecha, tal vez es mejor idea utilizar la imagen como background para no tener problemas, te dejo una captura por issues */
  padding-left: 40px; /* unificá los paddings */
  padding-right: 40px;
}

/* ANIMACION PROYECTOS */

.ticker-section {
  width: 100vw; /* en los anchos funciona mejor el porcentaje que los vw, ahora esta misma propiedad te está generando un scroll horizontal */ 
  height: 60px;  
  overflow: hidden
}

.ticker-content-wrapper {
  display: flex;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
  line-height: 90px; 
  letter-spacing: 1.28px; 
}

.ticker-text-group {
  display: flex;
  align-items: center;
}

.ticker-text-group span {
  padding: 0 41px; 
}

.ticker-text-group .dot {
  padding: 0 41px; 
}

.proyectos-ticker .ticker-proyectos-background {
  background-color: #D05F15;
  height: 100%;
  display: flex;
  align-items: center; /* esto no está haciendo nada */
}

.proyectos-ticker .ticker-contacto-background { /* esto es lo mismo que está arriba? */
  background-color: #1F4AC9;
  height: 100%;
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); 
  }
}

/* CARRUSEL */

.seccion-carrusel {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

.carrusel {
  position: relative; /* no hace nada */
  overflow: hidden; /* no hace nada */
  display: flex;
  align-items: center;
}

.carrusel-container {
  overflow: hidden;
  width: 100%;
}

#track {
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.slide {
  flex: 0 0 250px;
  margin: 10px;
  color: white;
  transition: 0.5s;
}

.slide:hover {
  transform: scale(1.2);
}

.carilla-carrusel {
  width: auto;
  height: auto;
  object-fit: cover;
}

.carrusel-arrow {
  background-color: #ede4d1;
  color: #4b6bff;
  border: 2px solid #4b6bff;
  border-radius: 40px;
  width: 48px;
  height: 48px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1; /* no está haciendo nada */
}

.carrusel-prev {
  margin-right: 10px;
}

.carrusel-next {
  margin-left: 10px;
}

.carrusel-arrow:hover{
  background: #4b6bff;
}



/* FOOTER */

footer {
  background-color: #1F4AC9;
  height: 60px; /* podemos hacer que la altura la den los paddings? */
  width: 100%;
  padding-left: 50px; /* unificá los paddings */
  padding-right: 50px;
  gap: 450px; /* este gap es muy peligroso en tamaño, fijate si no podés generarlo con flex */
  display: inline-flex; /* no usamos inline! */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute; /* por qué es este position? */
}

.derechos-footer{ /* es necesario? además, este div está de más porque la etiqueta p interna es autosuficiente */
  display: flex;
  align-items: center;
}

.icons-footer {
  display: flex;
  justify-content: flex-end; /* es necesario? */
  gap: 10px;
  position: relative; /* es necesario? */
}

.icons-footer img{
  height: 46px;
  width: 46px;
  transition: 0.5s;
}

.icons-footer img:hover {
  transform: scale(1.1);
}

/* CONTACTO - HTML */

/* MAIN */

.formulario {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.formulario-container {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #D05F15;
  border-radius: 65px;
}

.contact-img {
  display: flex;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 15px;
  max-width: 450px;
  width: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  gap: 50px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  color: #000000;
}

textarea {
  resize: both;
}

.fin-formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button {
  font-size: 20px;
  font-weight: 600;
  color: #1F4AC9;
  text-align: center;
  height: 50px;
  width: 70px;
  border-radius: 15px;
  background-color: #FCD1CD;
  border: 2px solid #1F4AC9;
  cursor: pointer;
  transition: 0,5s;
}

button:hover {
  background: #1F4AC9;
  color: #FCD1CD;
}

/* SOBRE MI - HTML */

/* MAIN */

.info{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.texto-sobremi p{
  margin-bottom: 10px;
  width: 80%;
}

.sobremi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.columna{
  display: flex;
  flex-direction: column;   
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}

.caja{
  padding-top: 10px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 10px;
  background-color: #D05F15;
  border-radius: 65px;
  height: 263px;
  width: 350px;
}

li{
  padding-top: 15px;
  text-decoration: none;
}

ul{
  list-style: none;
}

.habilidades{
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 90px
}

/* PROYECTOS - HTML */

/* MAIN */

.caja-proyectos{
  margin-bottom: 50px;
  padding-left: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.texto-proyectos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-proyectos{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.img-proyectos img{
  width: 45%; /* solo puse esto para saber el tamaño ideal de las imagenes y si funcionaba el wrap */
}
