/*@charset "utf-8";*/
/* CSS Document */

*{
  margin: 0px;
  padding: 0px;
}

/* FONTS */

h1 {
  color: #D05F15;
  font-family: 'Alexandria';
  font-size: 315px;
  font-weight: 700;
  line-height: normal;
}

h2 {
  display: inline-block; 
  color: #FCD1CD;
  font-family: 'Alexandria';
  font-size: 100px;
  font-weight: 600;
}

h3 {
  display: inline-block; 
  font-family: 'Alexandria';
  font-weight: bold;
  color: #1F4AC9;
  font-size: 30pt;
  border-bottom: 4px solid #1F4AC9;
}

p{
  font-family: 'Poppins';
  color: black;
  font-style: normal;
  font-size: 15pt;
}

footer p{
  color: #FCD1CD;
  font-size: 10pt;
  font-style: italic;
}

/* BODY */

body{
  background: #FCD1CD;
}

/* HEADER */

header{
  max-width: auto;
  height: 50px;
  background-color: #1F4AC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.logo {
width: 50px;
}

/* NAV */

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 56px;
  padding-left: 100px; 
  padding-right: 100px;

}

nav .botonera {
  max-width: 1250px;
  height: 30px;
  display: inline-flex; 
  justify-content: center; 
  align-items:flex-start;
  text-align: center;
  transition: transform 0,5s;
}

nav a{
  font-size: 20px;
  padding: 10px;
  color: #FCD1CD; 
  font-family:'Alexandria';
  display:inline-flex;
  justify-content: center; 
  text-align: center;
  border-radius: 100px;
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: none;
}

nav a:hover {
  background-color: #D05F15;
  background-color: #D05F15;
  color: #FCD1CD;
  transform: scale(1.1);
}

/* MAIN */

.introduccion {
  display: flex; 
  align-items: flex-start;
  height: 976px;
  background-color: #1F4AC9;
}

@keyframes slide-right{
  0%{transform:translateX(-100px)}
  100%{transform:translateX(15px)}
}

.intro-izq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 700px;
  padding-left: 40px;
  padding-right: 40px;
}

/* FOOTER */

footer {
  background-color: #1F4AC9;
  height: 60px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  gap: 450px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
}

.derechos-footer{
  display: flex;
  align-items: center;
}

.icons-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.icons-footer img{
  height: 46px;
  width: 46px;
  transition: 0.5s;
}

.icons-footer img:hover {
  transform: scale(1.1);
}